@import url('https://fonts.googleapis.com/css2?family=Recursive&family=Righteous&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;
    font-family: 'Recursive';
}

.root{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h1{
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
}

.inicio{
    height: 100vh;
    display: flex;
    justify-content:  space-evenly;
    align-items: center;
    flex-direction: column;
}

.inicio .logo img{
    width: 55px;
}

.inicio .logo h1{
    font-size: 25px;
    line-height: 31px;
}

.inicio button{
    width: 141px;
    height: 31px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-size: 12px;
    line-height: 14px;
    color: #D70900;
}


/* Tela 2 */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 42px;
    margin-top: 22px;
}
.header img{
    width: 26px;
    height: 30px;
}
.header h1{
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 20px;
}


.opcao{
    display: flex;
    justify-content: center;
}

.card{
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
}
.card p{
    font-family: 'Recursive';
    font-weight: bold;
    font-size: 12px;
}
.card img{
    width: 13px;
    height: 15px;
    color: #333333;
}


.footer{
    background-color: #FFFFFF;
    width: 100%;
    height: 50px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer h2{
    font-family: 'Recursive';
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}
.perguntas{
    padding-bottom: 50px;
}


    /* Tela 3 */
.pergunta-card{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFD5;
    width: 90%;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    padding-left: 6px;
    padding-top: 11px;
    margin-bottom: 13px;
}
.pergunta-card p{
    font-family: 'Recursive';
    font-size: 12px;
    color: #333333;
}
.pergunta-card img{
    width: 20px;
    height: 120px;
}
.tela-pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
}


    /* Tela 4 */

.caixa-pergunta{
    display: flex;
    justify-content: center;
}

.tela-resposta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resposta-pergunta{
    background-color: #FFFFD5;
    width: 90%;
    height: 80px;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    padding-left: 6px;
    padding-top: 11px;
    margin-bottom: 13px;
}
.resposta-pergunta h3{
    font-family: 'Recursive';
    font-size: 12px;
    line-height: 14px;
}
.botoes-resposta button{
    border-radius: 5px;
    border: none;
    color: #ffffff;
    width: 50px;
    height: 24px;
}
.botoes-resposta{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    padding-right: 6px;

}
.botoes-resposta p{
    font-family: 'Recursive';
    font-size: 7px;
}

.red,.nao-lembrei{
    background-color: #D70900;
}
.orange,.quase-lembrei{
    background-color: #FF922E;
}
.green,.lembrei{
    background-color: #2FBE34;
}


    /* Tela 5 */

.vermelho{
    color: #D70900;
    text-decoration: line-through;
}
.laranja{
    color: #FF922E;
    text-decoration: line-through;
}
.verde{
    color: #2FBE34;
    text-decoration: line-through;
}
.mensagem-final{
    background-color: #FFFFFF;
    width: 100%;
    height: 110px;
    padding-top: 115px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

